@value secondary from "@knicos/genai-base/css/colours.module.css";

.userSection {
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1rem;
    min-height: 0;
}

.userSection ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    overflow-y: scroll;
}

.userSection li {
    width: 100%;
}

.userSection li button {
    outline: none;
    border: none;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: white;
    margin-bottom: 0.5rem;
    min-width: 200px;
    width: 100%;
    padding: 0 1rem;
}

.userSection li button:hover {
    background: #eee;
}

.userSection img {
    border-radius: 50%;
    border: 4px solid #444;
    line-height: 0;
}

.placeholderImage {
    width: 58px;
    height: 58px;
    background: #ddd;
    border-radius: 50%;
}

.selectButton {
    background: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 2px solid #ddd;
    color: white;
    box-sizing: content-box;
}

.selectedButton {
    composes: selectButton;
    background: secondary;
}
