@value secondary, bgColourful1, textDark from "@knicos/genai-base/css/colours.module.css";

.container {
    background: bgColourful1;
    color: white;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    font-size: 1rem;
    z-index: 11;
}

@media screen and (min-width: 2000px) {
    .container {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 3000px) {
    .container {
        font-size: 1.4rem;
    }
}

.container :global .MuiMenuItem-root {
    font-size: 1.2em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 2em;
    padding-right: rem;
}

.container :global .Mui-selected {
    background: rgba(0, 0, 0, 0.2);
}

.container :global .Mui-selected:hover {
    background: rgba(0, 0, 0, 0.2);
}

.advanced {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: textDark;
    z-index: 12;
}

.actionContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.actionContainer :global .MuiIconButton-root {
    background: white;
    font-size: 2em;
    padding: 0.5em;
    box-shadow: 0 0 15px #666;
}

.actionContainer :global .MuiIconButton-root:hover {
    background: rgba(255, 255, 255, 0.8);
}

.actionContainer :global .MuiSvgIcon-root {
    font-size: 2em;
}
