@value workspaceBg from "@knicos/genai-base/css/colours.module.css";

.container {
    min-height: 0;
    display: flex;
    flex-direction: column;
    /*flex: 0 1 auto;*/
    flex-grow: 1;
    max-width: 500px;
    width: 100%;
    background: white;
}

.outerContainer {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex-grow: 1;
    overflow-y: scroll;
    align-items: center;
    height: 100%;
    /*scrollbar-gutter: stable both-edges;*/
}

.svgContainer {
    position: relative;
}

.svgContainer button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

@media print {
    .container {
        background: white;
    }
}
