@value secondary from "../../style/colours.module.css";

.button {
    position: relative;
}

.dot {
    position: absolute;
    top: -0.5rem;
    left: calc(100% - 1rem);
    background: secondary;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 0.6rem 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
