@value primary, secondary from "../../style/colours.module.css";

.svg {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    touch-action: none;
}

.node {
    cursor: pointer;
    outline: none;
}

.node:focus circle[data-nodeitem] {
    stroke: secondary;
}

.link {
    stroke: primary;
}
