@value primary from "../../style/colours.module.css";

.svg {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
}

.node {
    cursor: pointer;
}

.link {
    stroke: primary;
}
