@value backgroundLight from "@knicos/genai-base/css/colours.module.css";

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-height: 1000px;
    margin: auto;
    width: 100%;
    max-width: 500px;
    position: relative;
}

.pageContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: calc(57px + 1rem);
    overflow-y: auto;
    background: white;
}

.container :global .MuiBottomNavigation-root {
    position: absolute;
    top: calc(100% - 57px - 1rem);
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 1px solid backgroundLight;
}

.container :global .Mui-disabled {
    opacity: 0.4;
}

.userContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    justify-content: center;
}

.lang {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

.navOuter {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid #ddd;
    color: textDark;
}

.appNav {
    width: 100%;
    max-width: 500px;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
}

.connectionStatus {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 1rem 0;
    border-radius: 8px;
    box-shadow: 0 0 10px #444;
}
