@value bgSubdued1, textDark from "../../style/colours.module.css";

.content img {
    border-radius: 6px;
    overflow: hidden;
    line-height: 0;
    width: 50px;
    flex-shrink: 0;
}

.content {
    background: white;
    color: textDark;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contentColoured {
    composes: content;
    background: bgSubdued1;
}

.message {
    flex-grow: 1;
}

.chart {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.chart text {
    fill: textDark !important;
}
