@value backgroundDark, bgSubdued1, textDark, primary, secondary, workspaceBg from "@knicos/genai-base/dist/colours.module.css";

.container {
    min-height: 0;
    display: flex;
    flex-direction: column;
    /*flex: 0 1 auto;*/
    flex-grow: 1;
    max-width: 500px;
    width: 100%;
}

.outerContainer {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex-grow: 1;
    overflow-y: scroll;
    align-items: center;
    height: 100%;
}

.wizard {
    background: bgSubdued1;
    color: textDark;
    transition: height 0.3s, background 0.3s, border-top 0.3s, border-bottom 0.3s;
    flex: 1 0 auto;
    position: relative;
    border-top: 6px solid primary;
    border-bottom: 6px solid primary;
}

.wizardClosed {
    composes: wizard;
    background: workspaceBg;
    border-top: 6px solid workspaceBg;
    border-bottom: 6px solid workspaceBg;
    flex-grow: 0;
}

.wizard h2 {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1rem;
}

.wizardStartPage span {
    font-size: 0.8rem;
}

.wizardPage {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: center;
}

.grid {
    display: grid;
    aspect-ratio: 1/1;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
    margin-bottom: 0.5rem;
}

.grid img {
    width: 100%;
    object-fit: cover;
    max-height: 100%;
}

.gridItem {
    position: relative;
    line-height: 0;
    cursor: pointer;
    outline: none;
    padding: 0;
    border: none;
}

.selectButton {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 2px solid white;
    color: white;
    box-sizing: content-box;
}

.gridItem:hover .selectButton {
    background: rgba(0, 0, 0, 0.8);
}

.gridItem:focus .selectButton {
    background: rgba(0, 0, 0, 0.8);
}

.selectedButton {
    composes: selectButton;
    background: rgba(0, 0, 0, 0.5);
}

.number {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    line-height: normal;
    text-shadow: 0 0 4px black;
}

.buttonList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 1rem;
}

.buttonBar {
    background: white;
    color: #444;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 2rem;
    box-shadow: 1px 1px 8px #888;
    display: flex;
    gap: 0.5rem;
}

.infoBar {
    background: backgroundDark;
    padding: 1rem;
    color: white;
    font-style: italic;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem;
    justify-content: center;
    height: 32px;
    box-sizing: content-box;
    border-radius: 2rem;
}

.infoBar img {
    border-radius: 4px;
    overflow: hidden;
    line-height: 0;
}

.wizardControls {
    display: flex;
    gap: 0.2rem;
    justify-content: flex-end;
    padding: 1rem;
    align-items: center;
    animation-name: fadein;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.wizardLabelContainer {
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background: white;
    gap: 0.2rem;
    box-shadow: 0 0 5px #aaa;
}

.wizardLabelDisabled {
    composes: wizardLabelContainer;
    opacity: 0.6;
}

.wizardLabel {
    font-size: 1rem;
    color: black;
}

.wizardLabelSelect {
    composes: wizardLabel;
    font-weight: bold;
}

.wizardLabelDesc {
    font-size: 0.8rem;
}

.wizardLabelGroup {
    display: flex;
    flex-direction: column;
}
