@value backgroundDark, bgSubdued1, textDark, primary, secondary, workspaceBg from "@knicos/genai-base/css/colours.module.css";

.container {
    min-height: 0;
    display: flex;
    flex-direction: column;
    /*flex: 0 1 auto;*/
    flex-grow: 1;
    max-width: 500px;
    width: 100%;
    background: workspaceBg;
}

.outerContainer {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex-grow: 1;
    overflow-y: scroll;
    align-items: center;
    height: 100%;
    scrollbar-gutter: stable both-edges;
}

.number {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    line-height: normal;
    text-shadow: 0 0 4px black;
}

.buttonList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 1rem;
}

.buttonBar {
    background: white;
    color: #444;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 2rem;
    box-shadow: 1px 1px 8px #888;
    display: flex;
    gap: 0.5rem;
}

.infoBar {
    background: backgroundDark;
    padding: 1rem;
    color: white;
    font-style: italic;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem;
    justify-content: center;
    height: 32px;
    box-sizing: content-box;
    border-radius: 2rem;
}

.infoBar img {
    border-radius: 4px;
    overflow: hidden;
    line-height: 0;
}
