.panel {
    position: absolute;
    aspect-ratio: 9/16;
    max-width: calc(0.6 * 80vh);
    max-height: 80vh;
    box-sizing: border-box;
    width: 500px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: white;
    padding: 0;
    padding-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px #707070;
    display: flex;
    flex-direction: column;
}

.panel header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
}

.content {
    overflow-y: auto;
    flex-grow: 1;
    height: 100%;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    opacity: 1;
}

.backgroundVisible {
    composes: background;
    animation: fadein 0.3s;
}

.backgroundInvisible {
    opacity: 0;
    transition: opacity 0.3s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
