@value textDark, workspaceBg, backgroundDark, bgColourful1, bgSubdued1, textLight, primary from "@knicos/genai-base/css/colours.module.css";
@value backgroundDark2, backgroundDark3, secondaryLight from "@genaism/style/extraColours.module.css";

.dashboard {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    color: textDark;
    display: flex;
}

.miniSettings {
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;
    z-index: 12;
    color: white;
}

.logo {
    line-height: 0;
}

.logoRow {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
    justify-content: center;
    background: bgColourful1;
    padding-top: 0.5rem;
    color: white;
    padding-bottom: 0.5rem;
    align-items: center;
}

.logoRowOpen {
    composes: logoRow;
    justify-content: space-between;
}

.workspace {
    /*position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /*padding-left: 57px;*/
    min-width: 0;
    min-height: 0;
}

.backgroundLogo {
    display: flex;
    background: none;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    flex-wrap: nowrap;
    overflow: hidden;
    max-height: 48px;
    margin-left: 0.5rem;
}

.backgroundLogo h1 {
    margin: 0;
    color: white;
}

.sideNav {
    height: 100%;
    bottom: 0;
    background: backgroundDark2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 0 10px #888;
    /*width: 280px;*/
    transition: flex 0.2s;
    overflow: hidden;
    padding-bottom: 0.5rem;
    z-index: 10;
    box-sizing: border-box;
    overflow: hidden;
    flex: 0 0 280px;
}

.sideNavClosed {
    composes: sideNav;
    /*width: 57px;*/
    flex: 0 0 57px;
}

.treeItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem 0;
    text-wrap: nowrap;
    overflow: hidden;
}

.treeItemSelected {
    composes: treeItem;
    color: secondaryLight;
}

.treeContainer {
    width: 100%;
    margin: 2rem 0;
    background: backgroundDark3;
    padding: 1rem 0;
    min-height: 0;
    max-height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}
