@value bgError from "@genai-fi/base/css/colours.module.css";

.errorTitle {
    background: bgError;
    border-bottom: 2px solid #fa3e3e;
}

.errorContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    padding-top: 1rem !important;
    max-width: 400px;
}
