@value bgColourful1, textDark from "../../style/colours.module.css";

.cloudItem {
    transition: transform 1s;
}

.cloudItem rect {
    fill: bgColourful1;
    opacity: 0.2;
}

.cloudItem text {
    fill: textDark;
}
