@value secondary from "@knicos/genai-base/css/colours.module.css";

.svg {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    touch-action: none;
}

.menuLogo {
    color: white;
    min-height: 48px;
    font-weight: bold;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.node {
    cursor: pointer;
    outline: none;
}

.node:focus circle[data-nodeitem] {
    stroke: secondary;
}
