@value textDark from "@knicos/genai-base/css/colours.module.css";

.container {
    min-height: 0;
    display: flex;
    flex-direction: column;
    /*flex: 0 1 auto;*/
    flex-grow: 1;
    max-width: 500px;
    width: 100%;
    background: white;
    gap: 0.5rem;
}

.container img {
    aspect-ratio: 1/1;
}

.outerContainer {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex-grow: 1;
    overflow-y: scroll;
    align-items: center;
    height: 100%;
    scrollbar-gutter: stable both-edges;
}

.details {
    margin: 0 1rem;
    padding-bottom: 1rem;
}

.hashtags {
    display: flex;
    font-style: italic;
    color: textDark;
    flex-wrap: wrap;
}

.hashtags > span {
    margin-right: 0.5rem;
}

.reactions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.comments {
    margin-top: 1rem;
}
