@value bgSubdued1, textDark, primary from "@genai-fi/base/css/colours.module.css";

.logItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: bgSubdued1;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    color: black;
    transition: filter 0.2s;
    border-bottom: 1px solid #444;
}

.logItem:hover {
    filter: brightness(0.9);
}

.time {
    font-size: 0.9rem;
    font-style: italic;
    color: textDark;
}

.buttonListItem {
    display: flex;
    justify-content: center;
}

@media print {
    .logItem {
        flex-direction: row;
        justify-content: space-between;
        background: white;
        border-top: 1px solid primary;
        color: black;
        margin-top: 0;
    }

    .time {
        color: black;
    }
}
