@value borderGrey from "../../style/colours.module.css";

.container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    border-top: 1px solid borderGrey;
    padding: 0 1rem;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    /*gap: 50px;*/
}

.placeholder {
    flex-shrink: 0;
    max-width: 500px;
    width: 100%;
    /*margin-bottom: 50px;*/
}

.outer {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.blocker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    flex-direction: column;
}

.leaveMessage {
    font-size: 2rem;
    text-align: center;
}

.titleOuter {
    width: 100%;
    /*border-bottom: 1px solid #eee;*/
    display: flex;
    justify-content: center;
    /*flex-grow: 1;*/
}

.title {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 0rem;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    height: 130px;
    color: #444;
}

.title > h1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 0;
        /*scroll-snap-type: y mandatory;*/
    }

    .title {
        padding: 0.5rem 1.2rem;
    }
}
