.container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;

    padding: 0 1rem;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    gap: 50px;
}

.placeholder {
    flex-shrink: 0;
    width: 500px;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 0;
        scroll-snap-type: y mandatory;
    }
}

.outer {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.blocker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    flex-direction: column;
}

.leaveMessage {
    font-size: 2rem;
    text-align: center;
}
