@value textDark, workspaceBg, backgroundDark, bgColourful1, bgSubdued1, textLight from "../../style/colours.module.css";

.dashboard {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: workspaceBg;
    color: textDark;
}

.dashboard nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.menuContainer {
    position: absolute;
    left: 0;
    margin: auto;
    margin-left: 1rem;
    background: white;
    border-radius: 2rem;
    box-shadow: 1px 1px 8px #888;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 1rem;
    align-items: center;
    color: textDark;
}

.logo {
    padding: 0.5rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
    background: bgColourful1;
    line-height: 0;
}

.workspace {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuSpacer {
    margin: 0.5rem 0;
    height: 2px;
    background: workspaceBg;
    width: 100%;
}

.backgroundLogo {
    position: absolute;
    top: 10px;
    left: 20px;
    display: flex;
    background: none;
    align-items: center;
    gap: 0.5rem;
    opacity: 0.4;
}
