@value textDark, workspaceBg, backgroundDark, bgColourful1, bgSubdued1, textLight from "@knicos/genai-base/dist/colours.module.css";

.dashboard {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: workspaceBg;
    color: textDark;
    display: flex;
}

.logo {
    line-height: 0;
}

.workspace {
    /*position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.backgroundLogo {
    position: absolute;
    bottom: 10px;
    right: 20px;
    display: flex;
    background: none;
    align-items: center;
    gap: 0.5rem;
    opacity: 0.2;
}
