@value backgroundDark from "@knicos/genai-base/css/colours.module.css";

.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

.container {
    background: backgroundDark;
    position: relative;
    padding: 1rem 0;
}

.svg {
    user-select: none;
    touch-action: none;
}
