@value primary from "@knicos/genai-base/css/colours.module.css";

.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

.container {
    /*background: white;*/
    position: relative;
    width: 100%;
    height: 100%;
}

.svg {
    user-select: none;
    touch-action: none;
}

.label {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    background: primary;
    color: white;
    font-weight: bold;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}
