@value bgOk, borderGreen from "@knicos/genai-base/css/colours.module.css";

.title {
    background: bgOk;
    border-bottom: 2px solid borderGreen;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    padding-top: 1rem !important;
    max-width: 400px;
    align-items: center;
}

.icon {
    font-size: 60pt;
    line-height: 0;
    color: borderGreen;
}
