@value backgroundDark, primary from "../../style/colours.module.css";

.table {
    border-collapse: collapse;
    width: 100%;
    background: backgroundDark;
    color: white;
}

.table tr {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

.engagedItem {
    background: primary;
}

.table tr:hover {
    filter: brightness(1.2);
}

.table td {
    padding: 0.5rem 1rem;
    height: 50px;
}

.imageTD {
    line-height: 0;
    width: 50px;
}

.imageTD img {
    border-radius: 4px;
    overflow: hidden;
}

.time {
    font-size: 0.9rem;
    font-style: italic;
    color: #f3f3f3;
}

.special {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
