@value borderGrey, workspaceBg, textDark, primary from "@knicos/genai-base/css/colours.module.css";

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.language {
    position: absolute;
    top: 1rem;
    right: 2rem;
}

@media screen and (max-width: 600px) {
    .page {
        background: white;
    }
}

.userContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 300px;
}

.speedContainer {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.navOuter {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid #ddd;
    color: textDark;
    transition: background 0.3s;
}

.darkNavOuter {
    composes: navOuter;
    background: #222;
    border-top: 1px solid #444;
    color: white;
}

.appNav {
    width: 100%;
    max-width: 500px;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dataContainer {
    width: 100%;
    height: 100%;
    /*background: workspaceBg;*/
    z-index: 2000; /* To go above the speed menu */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-height: 1000px;
    min-height: 0;
    background: white;
    transition: background 0.3s;
    animation: fadein 0.2s linear 1;
}

.darkContainer {
    composes: dataContainer;
    background: #222;
}

.dataInner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dataInner > header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid borderGrey;
    color: textDark;
}

.darkContainer > .dataInner > header {
    border-bottom: 1px solid #444;
    color: white;
}

.headerContainer {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    max-width: 500px;
    width: 100%;
}

.dataInner h1 {
    margin-right: 1rem;
    font-size: 1.3rem;
    color: inherit;
}

.link {
    color: textDark;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
}

.shareMessage {
    color: textDark;
    padding: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    text-align: center;
}

.shareMessage em {
    font-style: normal;
    font-weight: bold;
}

.randomName {
    font-size: 1.1rem;
    font-weight: bold;
}
