.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    gap: 4rem;
}

@media screen and (max-width: 600px) {
    .page {
        background: white;
        align-items: flex-end;
    }
}
