@value textDark: #444;
@value textLight: #f7f9f5;
@value bgColourful1: #078092;
@value bgColourful2: #fd9d32;
@value bgColourful3: #e04f66;
@value bgSubdued1: #e8f0fe;
@value bgSubdued2: #fecb8b;
@value bgSubdued3: #ff9499;
@value backgroundDark: #5f7377;
@value backgroundLight: #dee4e8;
@value workspaceBg: #dfe5e8;
@value primary: #008297;
@value primaryHover: rgba(0, 130, 151, 0.04);
@value secondary: rgb(174, 37, 174);
@value bgError: #ffcbcb;
@value bgOk: #a2e4b8;
@value borderGrey: #ddd;
@value borderGreen: #19b1a8;
@value borderBrightBlue: rgb(2, 136, 209);
