@value workspaceBg, bgSubdued1, textDark, primary from "@knicos/genai-base/css/colours.module.css";

.content img {
    border-radius: 6px;
    overflow: hidden;
    line-height: 0;
    width: 50px;
    flex-shrink: 0;
}

.content {
    background: white;
    color: textDark;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contentColoured {
    composes: content;
    background: bgSubdued1;
}

.message {
    flex-grow: 1;
}

.chart {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.chart text {
    fill: textDark !important;
}

.tableList {
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: white;
}

.tableList li {
    list-style: none;
    background: white;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
}

.scoreBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreBox label {
    font-size: 0.8rem;
    font-style: italic;
}

.scoreBox :global .MuiPieArc-root {
    stroke: none;
}

.scoreValue {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.scoreList {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.scoreRow {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    align-items: center;
}

.listIcon {
    background: white;
    color: textDark;
    align-self: stretch;
    display: flex;
    padding: 0.2rem;
    border-bottom: 2px solid primary;
    align-items: center;
}

.listIcon h2 {
    margin: 0;
    margin-left: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.listColumn {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    width: 100%;
}

.units {
    font-size: 0.6em;
    /*color: #666;*/
}

.miniGraphBox {
    position: relative;
    width: calc(100% - 1rem);
    height: 200px;
}
