@value backgroundLight from "../../style/colours.module.css";

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-height: 1000px;
    margin: auto;
    width: 100%;
    max-width: 500px;
    position: relative;
}

.pageContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 64px;
    overflow-y: auto;
    background: white;
}

.container :global .MuiBottomNavigation-root {
    position: absolute;
    top: calc(100% - 60px);
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    border-top: 1px solid backgroundLight;
}

.container :global .Mui-disabled {
    opacity: 0.4;
}
