@value bgSubdued1, textDark, primary, secondary, workspaceBg, textDark from "@knicos/genai-base/css/colours.module.css";

.wizard {
    background: white;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 0 10px #aaa;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.controls {
    align-self: flex-start;
    background: white;
    padding: 0.5rem;
    border-radius: 10px;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.widgetColumn {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.controlsContainer {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.imageGrid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;
    line-height: 0;
    width: 100%;
    margin: 2rem auto;
    min-height: 0;
    overflow-y: scroll;
    flex-grow: 1;
    align-content: flex-start;
}

.workspace {
    overflow: auto;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    position: relative;
}

.container {
    overflow: auto;
    min-height: 100%;
    background: workspaceBg;
    display: grid;
    gap: 3rem;
    padding: 2rem;
    padding-top: 5rem;
    box-sizing: border-box;
    grid-template-columns: repeat(6, max-content);
    min-width: 100%;
    width: max-content;
    justify-content: center;
    position: relative;
    align-items: center;
}

.svglayer {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.menuLogo {
    color: white;
    min-height: 48px;
    font-weight: bold;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.menuLogoSmall {
    color: white;
    min-height: 40px;
    font-weight: bold;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.clusterContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: auto;
    max-height: 500px;
}

.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.group :global .MuiCheckbox-root {
    padding: 4px;
}
