@font-face {
    font-family: 'Andika';
    src: URL('https://store.gen-ai.fi/fonts/Andika-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Andika';
    src: URL('https://store.gen-ai.fi/fonts/Andika-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

#root {
    font-family: Andika, Helvetica, Arial, sans-serif;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media print {
    #root {
        position: initial;
        overflow: auto;
    }

    body {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}
