@value bgColourful1, backgroundDark, textDark from "@knicos/genai-base/dist/colours.module.css";

.word rect {
    opacity: 0.9;
    fill: backgroundDark;
}

.word text {
    fill: white;
}

.container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    min-height: 0;
    gap: 0.5rem;
}

.similarUser {
    display: flex;
    background: backgroundDark;
    color: white;
    margin-top: 0.2rem;
    padding: 0.5rem 1rem;
    align-items: center;
}

.userName {
    flex-grow: 1;
}

.topicContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem;
    align-items: center;
}

.topicContainer img {
    line-height: 0;
    border-radius: 6px;
    overflow: hidden;
}
