@value workspaceBg, bgColourful1, backgroundDark, textDark from "@knicos/genai-base/css/colours.module.css";

.word rect {
    opacity: 0.9;
    fill: backgroundDark;
}

.word text {
    fill: white;
}

.container {
    min-height: 0;
    display: flex;
    flex-direction: column;
    /*flex: 0 1 auto;*/
    flex-grow: 1;
    max-width: 500px;
    width: 100%;
    background: workspaceBg;
}

.outerContainer {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex-grow: 1;
    overflow-y: scroll;
    align-items: center;
    height: 100%;
    scrollbar-gutter: stable both-edges;
}

.similarUser {
    display: flex;
    background: backgroundDark;
    color: white;
    margin-top: 0.2rem;
    padding: 0.5rem 1rem;
    align-items: center;
}

.userName {
    flex-grow: 1;
}

.topicContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem;
    align-items: center;
}

.topicContainer img {
    line-height: 0;
    border-radius: 6px;
    overflow: hidden;
}

.svgContainer {
    position: relative;
}

.svgContainer button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}
