@value workspaceBg, primary, secondary, backgroundDark from "@knicos/genai-base/css/colours.module.css";

.menuLogo {
    color: white;
    font-weight: bold;
    padding-right: 0.5rem;
    font-size: 1.1rem;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

.grid {
    display: grid;
    width: 100%;
    min-height: 0;
    gap: 0.5rem;
    grid-auto-rows: auto;
    box-sizing: border-box;
    padding: 2rem;
    padding-top: 6rem;
}

.gridItem {
    background: workspaceBg;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #bbb;

    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: initial;
    align-items: stretch;
    /*max-width: 300px;*/
}

.gridItem:hover {
    /*transform: scale(1.1, 1.1);*/
    box-shadow: 0 0 8px secondary;
}

.gridItem:focus {
    /*transform: scale(1.1, 1.1);*/
    box-shadow: 0 0 8px secondary;
}

.userImageContainer {
    align-self: center;
    line-height: 0;
    text-align: center;
    padding: 0.5rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.userImageContainer img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}

.placeholder {
    margin: auto;
    background: white;
    border-radius: 50%;
    aspect-ratio: 1/1;
    max-width: 100%;
    max-height: 100%;
}

.userImageContainer svg {
    aspect-ratio: 1/1;
}

.colourBox {
    height: 100%;
    aspect-ratio: 1/1;
}

.userNameContainer {
    padding: 0.3rem;
    background: primary;
    color: white;
    font-weight: bold;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    line-height: 2rem;
    min-height: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.selectedUserNameContainer {
    composes: userNameContainer;
    background: secondary;
}

.word {
    transition: transform 1s;
}

.word rect {
    opacity: 0.9;
    fill: backgroundDark;
}

.word text {
    fill: white;
}
