@value primary, secondary, bgColourful1, textDark, textLight from "../../style/colours.module.css";

.group:hover > .outerCircle {
    fill: secondary;
    opacity: 0.6;
    transform: scale(1.2);
}

.disabledGroup {
    composes: group;
    opacity: 0.2;
}

.outerCircle {
    fill: none;
    stroke: none;
    transition: transform 0.2s;
}

.selectedCircle {
    fill: none;
    stroke-dasharray: 20 10;
    stroke: secondary;
    animation: pulse 20s infinite linear;
    stroke-width: 5;
}

@keyframes pulse {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.cloudItem {
    transition: transform 1s;
}

.cloudItem rect {
    fill: bgColourful1;
    opacity: 0.2;
}

.cloudItem text {
    fill: textDark;
}

.cloudItemLight {
    transition: transform 1s;
}

.cloudItemLight rect {
    fill: white;
    opacity: 0.2;
}

.cloudItemLight text {
    fill: textLight;
}

.selectedLink {
    stroke: secondary;
    opacity: 1 !important;
}

.dashedLink {
    stroke: secondary;
    opacity: 0.5 !important;
    stroke-dasharray: 20;
}

.weakLinks {
    stroke: primary;
    opacity: 0.1 !important;
}
